<style>
    #register{
        margin-top: 50px;
    }
</style>


<% resource.build_persona %>
<div class="container" id="register">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="row">            
            <div class="col-sm-6 col-sm-offset-3" >
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                              <label for="inputNombre">Nombre</label>
                              <%= f.fields_for :persona do |builder| %>
                                <%= builder.text_field :nombre,class:"form-control input-sm", placeholder:"Escribe tu nombre"  %>
                          	  <%end%>
                              
                            </div>
                            <div class="form-group col-sm-6">
                              <%= f.fields_for :persona do |builder| %>
                                <%= builder.label :appaterno,'Ap. Paterno' %>
                                <%= builder.text_field :appaterno,class:"form-control input-sm", placeholder:"Escribe tu apellido paterno"  %>
                          	  <%end%>
                            </div>     
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                              <label for="inputApMaterno">Ap. Materno</label>
                              <%= f.fields_for :persona do |builder| %>
                                <%= builder.text_field :apmaterno,class:"form-control input-sm", placeholder:"Escribe tu apellido materno"  %>
                          	  <%end%>
                            </div>     
                            <div class="form-group col-sm-6">
                                <%= f.fields_for :persona do |builder| %>
                                <%= builder.label :sexo,'sexo' %>
                                <div class="radio">
                                    
                                    <%= builder.label :sexo do %>
                                      <%= builder.radio_button :sexo, "1", :checked => true %>
                                      Hombre
                                    <% end %>
                                    
                                    <%= builder.label :sexo do %>
                                      <%= builder.radio_button :sexo, "2" %>
                                      Mujer
                                    <% end %>
                                </div>
                                <%end%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 form-group">
                              <label for="tipo_documento_id">Tipo Documento</label>
                              <%= f.fields_for :persona do |builder| %>
                                
                                    <%= builder.select(:tipo_documentos_id,options_from_collection_for_select(TipoDocumento.all, :id, :nombre), { :prompt => 'Elija un tipo de documento' }, { :class => 'form-control input-sm' })%>
                          	  <%end%>
                              
                            </div>
                            <div class="col-xs-6 form-group">
                              <%= f.fields_for :persona do |builder| %>
                                <%= f.label :num_documento,'# Documento' %>
                                <%= builder.text_field :num_documento,class:"form-control input-sm", placeholder:"Nro. Documento"  %>
                          	  <%end%>
                              
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-sm-6">
                              <%= f.fields_for :persona do |builder| %>
                                <%= f.label :fec_nacimiento,'Fecha Nacimiento' %>
                                <%= builder.text_field :fec_nacimiento,class:"form-control input-sm", placeholder:"Ingrese su Fec. Nacimiento", id: 'fec_nacimiento'  %>
                          	  <%end%>
                              
                            </div>
                            <div class="form-group col-sm-6">
                              <%= f.fields_for :persona do |builder| %>
                                <%= f.label :direccion,'Direcciòn' %>
                                <%= builder.text_field :direccion,class:"form-control input-sm", placeholder:"Ingrese tu dirección"  %>
                          	  <%end%>
                            </div>     
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-6 form-group">
                              <%= f.label :email,'Email' %>
                              <%= f.email_field :email, class:"form-control input-sm",placeholder:"Escribe tu email..." %>
                            </div>
                            <div class="col-xs-6 form-group">
                              <label for="inputEmailR">Confirmar Email</label>
                              <input type="text" class="form-control input-sm" id="inputEmailR" placeholder="Escribe de nuevo tu email..."/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 form-group">
                              <%= f.label :password,'Contraseña' %>
                              <%= f.password_field :password, autocomplete: "off",class:"form-control input-sm", placeholder:"Escribe tu contraseña..." %>
                            </div>
                            <div class="col-xs-6 form-group">
                              <%= f.label :password_confirmation,'Confirma tu Contraseña' %>
                              <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control input-sm", placeholder:"Confirmar tu contraseña..." %>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 form-group">
                              <label for="permission_level">Rol</label><br/>
                              <label class="checkbox-inline">
                                <%= f.check_box :permission_level, {}, 'D', 'C' %>Es dueño de canchas?
                              </label>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group panel-footer text-center">
            <%= button_tag type: 'submit', class: "btn btn-sm btn-success", id: "register-button" do %>
              <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i> Registrarse
            <% end %>
           
        </div>
    <% end %>

</div>




<script type="text/javascript">
  $(function($) {
      $('#fec_nacimiento').datepicker({
        todayHighlight: true,
        language: "es",
        autoclose: true
      });
    
    
  });
</script>
