 <!-- BUSCADOR PRINCIPAL -->
 <section class="wrap" id="buscador">      
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <span style="font-size:32px;font-weight:bold">MANTENIMIENTO DE CANCHAS</span>
            </div>
        </div>
    </div>
</section>
<!-- FIN BUSCADOR PRINCIPAL -->

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon glyphicon glyphicon-th-large"></i>
            <a href="/cancha"> Canchas </a>
        </li>
        <li class="active">
            Nuevo
        </li>     
    </ul><!-- /.breadcrumb -->
</div>

<% if @cancha.errors.any? %>
  <div id="error_explanation" class="alert alert-danger"  role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <ul>
      <% @cancha.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>    
<% end %>

<%= form_for(@cancha) do |f| %>
    <div class="alert-container"></div>
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><i class='glyphicon glyphicon-cog'></i> Mantenimiento de Canchas</h3>
    </div>
    <div class="panel-body">
    <div class="row">            
        <div class="col-sm-8 col-sm-offset-2" >
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="locales_id">Local</label>
                    <%= f.select(:locales_id,options_from_collection_for_select(Local.all, :id, :nombre,{selected: @cancha.locales_id}),{}, { :class => 'form-control input-sm' })%>
                </div> 
                <div class="form-group col-sm-6">
                  <%= f.label :descripcion,'Caracteristica' %>
                  <%= f.text_field :descripcion,class:"form-control input-sm", placeholder:"Escribe una caracteristica"  %>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="locales_id">Semana</label><br/>
                    <label class="checkbox-inline">
                      <%= f.check_box :dia_2, {}, 'true', 'false' %>Lu
                    </label>
                    <label class="checkbox-inline">
                      <%= f.check_box :dia_3, {}, 'true', 'false' %>Ma
                    </label>
                    <label class="checkbox-inline">
                      <%= f.check_box :dia_4, {}, 'true', 'false' %>Mi
                    </label>
                    <label class="checkbox-inline">
                      <%= f.check_box :dia_5, {}, 'true', 'false' %>Ju
                    </label>
                    <label class="checkbox-inline">
                      <%= f.check_box :dia_6, {}, 'true', 'false' %>Vi
                    </label>
                    <label class="checkbox-inline">
                      <%= f.check_box :dia_7, {}, 'true', 'false' %>Sa
                    </label>
                    <label class="checkbox-inline">
                      <%= f.check_box :dia_1, {}, 'true', 'false' %>Do
                    </label>
                </div> 
                <div class="form-group col-sm-6">
                  <%= f.label :importe_tarifa,'Importe de alquiler' %>
                  <%= f.text_field :importe_tarifa,class:"form-control input-sm", placeholder:"Digite un importe"  %>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="locales_id">Horas de atencion</label><br/>
                    <div class="form-group col-sm-12">
                        <div class="form-group col-sm-6">
                           <%= f.text_field :hora_de,class:"form-control input-sm", placeholder:"De"  %>
                        </div>
                       <div class="form-group col-sm-6">
                            <%= f.text_field :hora_hasta,class:"form-control input-sm", placeholder:"Hasta"  %>
                        </div>
                    </div>
                </div> 
                <div class="form-group col-sm-6">
                  <label for="tipo_tarifas_id">Horas de atencion</label><br/>
                    <%= f.select(:tipo_tarifas_id,options_from_collection_for_select(TipoTarifa.all, :id, :descripcion,{selected: @cancha.tipo_tarifas_id}),{}, { :class => 'form-control input-sm' })%>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group panel-footer text-center">
        <button type="submit" class="btn btn-sm btn-success" data-ajax="true"><i class="glyphicon glyphicon-refresh"></i> Guardar</button>
        &nbsp;&nbsp;
        <button onclick="redirect('/cancha')" type="button" class="btn btn-sm btn-danger" ><i class="glyphicon glyphicon-ban-circle"></i> Cancelar</button>             
       
    </div>
    
    </div>
    </div>
<% end %>
