 <!-- BUSCADOR PRINCIPAL -->
 <section class="wrap" id="buscador">      
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <span style="font-size:32px;font-weight:bold">MANTENIMIENTO DE CANCHAS</span>
            </div>
        </div>
    </div>
</section>
<!-- FIN BUSCADOR PRINCIPAL -->

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon glyphicon glyphicon-th-large"></i>
            <a href="/cancha"> Canchas </a>
        </li>
        <li class="active">
            Nuevo
        </li>     
    </ul><!-- /.breadcrumb -->
</div>

<% if @cancha.errors.any? %>
  <div id="error_explanation" class="alert alert-danger"  role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <ul>
      <% @cancha.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>    
<% end %>

<%= form_for :cancha, :url => {:controller => "cancha", :action => "create"}, :method => :post, :html => { :id => "form_cancha", :multipart => true}  do |f| %>
    <div class="alert-container"></div>
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><i class='glyphicon glyphicon-cog'></i> Mantenimiento de Canchas</h3>
    </div>
    <div class="panel-body">
    <div class="row">            
        <div class="col-sm-8 col-sm-offset-2" >
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="locales_id">Local</label>
                    <%= select_tag(:locales_id,options_from_collection_for_select(Local.all, :id, :nombre), { :class => 'form-control input-sm' })%>
                </div> 
                <div class="form-group col-sm-6">
                  <label for="descripcion">Caracteristica</label>
                  <input type="text" class="form-control input-sm" name="descripcion" placeholder="Escribe una caracteristica"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="locales_id">Semana</label><br/>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="dia_2" value="1">Lu
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="dia_3" value="1">Ma
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="dia_4" value="1">Mi
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="dia_5" value="1">Ju
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="dia_6" value="1">Vi
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="dia_7" value="1">Sa
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="dia_1" value="1">Do
                    </label>
                </div> 
                <div class="form-group col-sm-6">
                  <label for="importe_tarifa">Importe de alquiler</label>
                  <input type="text" class="form-control input-sm" name="importe_tarifa" placeholder="Digita un importe"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                  <label>Horas de atencion</label><br/>
                    <div class="form-group col-sm-12">
                        <div class="form-group col-sm-6">
                           <input type="text" class="form-control input-sm" name="hora_de"  placeholder="De"/>
                        </div>
                       <div class="form-group col-sm-6">
                            <input type="text" class="form-control input-sm" name="hora_hasta" placeholder="Hasta" />
                        </div>
                    </div>
                </div> 
                <div class="form-group col-sm-6">
                  <label for="tipo_tarifas_id">Horas de atencion</label><br/>
                    <%= select_tag(:tipo_tarifas_id,options_from_collection_for_select(TipoTarifa.all, :id, :descripcion), { :class => 'form-control input-sm' })%>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="foto">Foto</label>
                  <input type="file" class="form-control input-sm" name="foto" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group panel-footer text-center">
        <button type="submit" class="btn btn-sm btn-success" data-ajax="true"><i class="glyphicon glyphicon-refresh"></i> Guardar</button>
        &nbsp;&nbsp;
        <button onclick="redirect('/cancha')" type="button" class="btn btn-sm btn-danger" ><i class="glyphicon glyphicon-ban-circle"></i> Cancelar</button>             
       
    </div>
    
    </div>
    </div>
<% end %>
