<!-- BUSCADOR PRINCIPAL -->
 <section class="wrap" id="buscador">      
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="iFeatures">
                  <div class="ticker">
                    <% @publicidades.each do |publicidad| %>
                    <li><p><%= publicidad.contenido %></p></li>
                    <% end %>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>
<div class="container" id="register">
    <%= form_for(@persona) do |f| %>
        <div class="row">            
            <div class="col-sm-6 col-sm-offset-3" >
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <%= f.label :nombre,'Nombre' %>
                                <%= f.text_field :nombre,class:"form-control input-sm", placeholder:"Escribe tu nombre"  %>
                            </div>
                            <div class="form-group col-sm-6">
                                <%= f.label :appaterno,'Ap. Paterno' %>
                                <%= f.text_field :appaterno,class:"form-control input-sm", placeholder:"Escribe tu apellido paterno"  %>
                            </div>     
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <%= f.label :apmaterno,'Ap. Materno' %>
                                <%= f.text_field :apmaterno,class:"form-control input-sm", placeholder:"Escribe tu apellido materno"  %>
                            </div>     
                            <div class="form-group col-sm-6">
                                <%= f.label :sexo,'sexo' %>
                                <div class="radio">
                                    
                                    <%= f.label :sexo do %>
                                      <%= f.radio_button :sexo, "1", :checked => (@persona.sexo == "1") %>
                                      Hombre
                                    <% end %>
                                    
                                    <%= f.label :sexo do %>
                                      <%= f.radio_button :sexo, "2", :checked => (@persona.sexo == "2")%>
                                      Mujer
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <label for="tipo_documento_id">Tipo de documento</label><br/>
                                <%= f.select(:tipo_documentos_id,options_from_collection_for_select(TipoDocumento.all, :id, :nombre,{selected: @persona.tipo_documentos_id}),{}, { :class => 'form-control input-sm' })%>
                              
                            </div>
                            <div class="col-xs-6 form-group">
                                <%= f.label :num_documento,'# Documento' %>
                                <%= f.text_field :num_documento,class:"form-control input-sm", placeholder:"Nro. Documento"  %>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <%= f.label :fec_nacimiento,'Fecha nacimiento' %>
                                <%= f.text_field :fec_nacimiento,:id => 'fec_nacimiento',class:"form-control input-sm",:value=>"#{@persona.fec_nacimiento.strftime("%d/%m/%Y")}"  %>
                            </div>
                            <div class="form-group col-sm-6">
                          	    <%= f.label :direccion,'Dirección' %>
                                <%= f.text_field :direccion,class:"form-control input-sm", placeholder:"Ingrese tu dirección"  %>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group panel-footer text-center">
            <%= button_tag type: 'submit', class: "btn btn-sm btn-success", id: "register-button" do %>
              <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i> Actualizar
            <% end %>
           
        </div>
    <% end %>

</div>

<script type="text/javascript">
  $(function($) {
      $('#fec_nacimiento').datepicker({
        todayHighlight: true,
        language: "es",
        autoclose: true
      });
    
  });
</script>