<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="text-center">Codigo</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">H. inicio</th>
            <th class="text-center">H. fin</th>
            <th class="text-center">Estado</th>
            <th width="150px" class="text-center">Opcional</th>
        </tr>
    </thead>
    <tbody>
        <% @alquileres.each do |alquiler| %>
        <tr>
            <td><%= alquiler.id %></td>
            <td><%= alquiler.fecha.strftime("%d/%m/%Y") %></td>
            <td class="text-center"><%= Time.at(alquiler.hora_inicio).utc.strftime("%I:%M%p")%></td>
            <td class="text-center"><%= Time.at(alquiler.hora_fin).utc.strftime("%I:%M%p")%></td>
            <td class="text-center"><%= alquiler.estado %></td>
            <td class="text-center">
                <%= link_to '',
                  confirmar_path(alquiler),
                  :method => :put,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Desea confirmar la reserva?')) },
                  :class => 'fa fa-check fa-lg', 
                  :title=> "Confimar" %>
               
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate @alquileres, renderer: BootstrapPagination::Rails, :remote => true, :previous_label => 'Anterior', :next_label => 'Siguiente' %>

