<style>
    
    .panel-custom-search01 {
        border-color: #088A68;
    }
   .panel-custom-search01 > .panel-heading {
        background: #088A68; 
        color: #ffffff;
        border-color: #088A68;
    }
    
    .btn-search01 { 
      color: #FFFFFF; 
      background-color: #088A68; 
      border-color: #088A68; 
    } 
    
    .btn-search01:hover, 
    .btn-search01:focus, 
    .btn-search01:active, 
    .btn-search01.active, 
    .open .dropdown-toggle.btn-search01 { 
      color: #FFFFFF; 
      background-color: #04B486; 
      border-color: #088A68; 
    } 
</style>

 <!-- BUSCADOR PRINCIPAL -->
 <section class="wrap" id="buscador">      
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="iFeatures">
                  <div class="ticker">
                    <% @publicidades.each do |publicidad| %>
                    <li><p><%= publicidad.contenido %></p></li>
                    <% end %>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>

<section id="title-listado">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><i class='glyphicon glyphicon-cog'></i> Listado de Aquiler de canchas</h3>
        </div>
    </div>
</section>



<%= form_tag("/alquiler/buscar", method: 'post', :remote => true) do %>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Buscar alquileres de cancha</h3>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-6">
                                <label for="local">Local</label>
                                  <select name="local" id="local" class="form-control input-sm">
                                    <option value="">Todos</option>
                                    <option value="1">Local 1</option>
                                    <option value="2">Local 2</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6 text-right">
                                <label for="submit">&nbsp;</label><br/>
                                <button type="submit" class="btn btn-sm btn-primary" id="buscar"><i class="glyphicon glyphicon-search"></i> Buscar</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-6">
                                <label for="fecha_inicio">Fecha Inicio</label>
                                <input type="text" class="form-control input-sm" name="fecha_inicio" id="fecha_inicio">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="fecha_fin">Fecha Fin</label>
                                <input type="text" class="form-control input-sm" name="fecha_fin" id="fecha_fin">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        
            </div>
        </div>
        
        
        
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" id="alquileres">
                 <%= render "alquiler/alquileres" %>
            </div>
         </div>
     </div>
<% end %>
            


<script type="text/javascript">
    $(function(){
        $('#fecha_inicio,#fecha_fin').datepicker({
            todayHighlight: true,
            language: "es",
            autoclose: true,
            /*format: "yyyy/mm/dd"*/
          });
          
        /*
        $("form").on("click", "#buscar", function(e){
            var fecha_inicio = $("#fecha_inicio").val();
            alert(fecha_inicio);
        });
        */
          
        /*$('.pagination > a').attr('data-remote', 'true');*/
        $('#alquileres .pagination a').attr('data-remote', 'true');
        $("#alquileres").on("click", ".pagination a", function(){
            var local = $("#local").val();
            var fecha_inicio = $("#fecha_inicio").val();
            var fecha_fin = $("#fecha_fin").val();
            console.log(fecha_inicio);
            console.log(fecha_fin);
            $.get("/alquiler/?"+this.href.split("?")[1], { local: local, fecha_inicio:fecha_inicio, fecha_fin:fecha_fin}, null, "script");
            console.log(this.href);
            //$.getScript(this.href);
            return false;
        });
        
        
    });
</script>