 <!-- BUSCADOR PRINCIPAL -->
 <section class="wrap" id="buscador">      
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="iFeatures">
                  <div class="ticker">
                    <% @publicidades.each do |publicidad| %>
                    <li><p><%= publicidad.contenido %></p></li>
                    <% end %>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>

<br><br>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="..." id="txtSearch"/>
         <div class="input-group-btn">
              <button class="btn btn-primary" type="submit">
              <span>Buscar</span>
              </button>
         </div>
      </div>
    </div>
</div>
<!-- FIN BUSCADOR PRINCIPAL -->

<!-- LOCALES -->
<section class="wrap">
  <ol>
    <% @locales.each do |local| %>
    <li>
      <article>
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="media">
                  <div class="media-left">
                    <img class="media-object img-circle" src="/img/cancha1.jpg" width="168px" height="168px" alt="Foto de perfil" /> 
                  </div><!-- .media-left --> 

                  <div class="media-body">
                    <h4 class="media-heading">
                      <%= link_to "#{local.nombre}",
                                  home_path(local),
                                  :method => :get,
                                  :title=> "Editar" %>
                      </a><button type="submit" class="box-btn" ><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"  title="Agregar a favoritos"></span>
                    </button></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <p>
                      <i><b>Distrito:</b> <%= local.distrito.nombre %></i><br/>
                      <i><b>Dirección:</b> <%= local.direccion %></i><br/>
                      <i><b>Telefono:</b> <%= local.telefono %></i>
                    </p>
                    <p><b>100</b> Comentarios en total</p>
                  </div><!-- .media-body --> 

                </div>
                
              </div><!-- .panel-body --> 
            </div><!-- .panel --> 
          </div><!-- .col --> 
        </div><!-- .row -->
      </div><!-- .container -->
    </article>
    </li>
    <% end %>
    
  </ol>
</section>
<!-- FIN LOCALES -->

    
