 <!-- BUSCADOR PRINCIPAL -->
 <section class="wrap" id="buscador">      
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <span style="font-size:32px;font-weight:bold">MANTENIMIENTO DE PUBLICIDAD</span>
            </div>
        </div>
    </div>
</section>
<!-- FIN BUSCADOR PRINCIPAL -->

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon glyphicon glyphicon-th-large"></i>
            <a href="/publicidad"> Publicidad </a>
        </li>
        <li class="active">
            Nuevo
        </li>     
    </ul><!-- /.breadcrumb -->
</div>

<% if @publicidad.errors.any? %>
  <div id="error_explanation" class="alert alert-danger"  role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <ul>
      <% @publicidad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>    
<% end %>

<%= form_for(@publicidad) do |f| %>
    <div class="alert-container"></div>
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><i class='glyphicon glyphicon-cog'></i></h3>
    </div>
    <div class="panel-body">
    <div class="row">            
        <div class="col-sm-6 col-sm-offset-3" >
            <div class="row">
                <div class="form-group col-sm-6">
                  <%= f.label :titulo,'Título' %>
                  <%= f.text_field :titulo,class:"form-control input-sm", placeholder:"Escribe un título"  %>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                  <label for="contenido">Contenido</label><br/>
                  <%= f.text_area :contenido, :rows => 5, :cols => 50,:class=>"form-control input-sm" %>
                </div>  
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                  <%= f.label :fecha_inicio,'Fecha inicio' %>
                  <%= f.text_field :fecha_inicio,:id => 'fecha_inicio',class:"form-control input-sm",:value=>"#{@publicidad.fecha_inicio.strftime("%d/%m/%Y")}"  %>
                </div>
                <div class="form-group col-sm-6">
                  <%= f.label :fecha_fin,'Fecha fin' %>
                  <%= f.text_field :fecha_fin,:id => 'fecha_fin',class:"form-control input-sm",:value=>"#{@publicidad.fecha_fin.strftime("%d/%m/%Y")}"  %>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                  <%= f.label :tarifa,'Tarifa' %>
                  <%= f.text_field :tarifa,class:"form-control input-sm", placeholder:"Escribe una tarifa"  %>
                </div>
                <div class="form-group col-sm-6">
                  <label for="ubicacion">Ubicación</label>
                   <%= f.select(:ubicacion,options_for_select({ "Página principal" => "1", "Página cliente" => "2", "Página dueño" => "3" },{selected: @publicidad.ubicacion}),{}, { :class => 'form-control input-sm' })%>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group panel-footer text-center">
        <button type="submit" class="btn btn-sm btn-success" data-ajax="true"><i class="glyphicon glyphicon-refresh"></i> Guardar</button>
        &nbsp;&nbsp;
        <button onclick="redirect('/publicidad')" type="button" class="btn btn-sm btn-danger" ><i class="glyphicon glyphicon-ban-circle"></i> Cancelar</button>             
       
    </div>
    
    </div>
    </div>
<% end %>

<script type="text/javascript">
  $(function($) {
      $('#fecha_inicio,#fecha_fin').datepicker({
        todayHighlight: true,
        language: "es",
        autoclose: true
      });
    
    
  });
</script>