<!-- BUSCADOR LOCALES -->
<section class="wrap" id="buscador">      
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="input-group">
                  <input type="text" class="form-control hidden" placeholder="..." id="txtSearch"/>
                   <div class="input-group-btn">
                        <button class="btn btn-primary hidden" type="submit">
                        <span>Buscar</span>
                        </button>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN BUSCADOR LOCALES -->

<section id="title-listado">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><i class='glyphicon glyphicon-cog'></i> Listado de publicidad</h3>
        </div>
    </div>
</section>


            
<form>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <%= link_to t('.newg', :default => 'Nuevo'),
                new_publicidad_path,
                :class => 'btn btn-md btn-primary' %>
                <hr/>
                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center">Codigo</th>
                            <th class="text-center">Contenido</th>
                            <th class="text-center">Tarifa</th>
                            <th class="text-center">Fecha Inicio</th>
                            <th class="text-center">Fecha fin</th>
                            <th width="150px" class="text-center">Opcional</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @publicidades.each do |publicidad| %>
                        <tr>
                            <td><%= publicidad.id %></td>
                            <td><%= publicidad.contenido %></td>
                            <td class="text-right"><%= number_with_precision(publicidad.tarifa, :precision => 2, delimiter: ' ', separator: '.') %></td>
                            <td class="text-center"><%= publicidad.fecha_inicio.strftime("%d/%m/%Y") %></td>
                            <td class="text-center"><%= publicidad.fecha_fin.strftime("%d/%m/%Y") %></td>
                            <td class="text-center">
                                <%= link_to '',
                                  edit_publicidad_path(publicidad),
                                  :method => :get,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Desea editar?')) },
                                  :class => 'fa fa-pencil fa-lg', 
                                  :title=> "Editar" %>
                                 &nbsp;|&nbsp;
                                <%= link_to '',
                                  publicidad_path(publicidad),
                                  :method => :delete,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Esta seguro de eliminar?')) },
                                  :class => 'fa fa-trash-o fa-lg', 
                                  :title=> "Eliminar" %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <%= will_paginate @publicidades, renderer: BootstrapPagination::Rails, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
            </div>
         </div>
     </div>
</form> 