 <!-- BUSCADOR PRINCIPAL -->
 <section class="wrap" id="buscador">      
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <span style="font-size:32px;font-weight:bold">MANTENIMIENTO DE PUBLICIDAD</span>
            </div>
        </div>
    </div>
</section>
<!-- FIN BUSCADOR PRINCIPAL -->

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon glyphicon glyphicon-th-large"></i>
            <a href="/publicidad"> Publicidad </a>
        </li>
        <li class="active">
            Nuevo
        </li>     
    </ul><!-- /.breadcrumb -->
</div>

<% if @publicidad.errors.any? %>
  <div id="error_explanation" class="alert alert-danger"  role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <ul>
      <% @publicidad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>    
<% end %>

<%= form_for :publicidad, :url => {:controller => "publicidad", :action => "create"}, :method => :post, :html => { :id => "form_publicidad"}  do |f| %>
    <div class="alert-container"></div>
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><i class='glyphicon glyphicon-cog'></i></h3>
    </div>
    <div class="panel-body">
    <div class="row">            
        <div class="col-sm-6 col-sm-offset-3" >
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="titulo">Título</label>
                  <input type="text" class="form-control input-sm" name="titulo" placeholder="Escribe un título"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                  <label for="contenido">Contenido</label>
                  <textarea class="form-control input-sm" placeholder="Descripción" rows="5" name="contenido"></textarea> 
                </div>  
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="fecha_inicio">Fecha inicio</label>
                  <input type="text" class="form-control input-sm" name="fecha_inicio" id="fecha_inicio" placeholder=""/>
                </div>
                <div class="form-group col-sm-6">
                  <label for="fecha_fin">Fecha fin</label>
                  <input type="text" class="form-control input-sm" name="fecha_fin" id="fecha_fin" placeholder=""/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="tarifa">Tarifa</label>
                  <input type="text" class="form-control input-sm" name="tarifa" placeholder="Escribe una tarifa"/>
                </div>
                <div class="form-group col-sm-6">
                  <label for="ubicacion">Ubicación</label>
                  <select name="ubicacion" class="form-control input-sm">
                    <option value="1">Página principal</option>
                    <option value="2">Página cliente</option>
                    <option value="3">Página dueño</option>
                  </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group panel-footer text-center">
        <button type="submit" class="btn btn-sm btn-success" data-ajax="true"><i class="glyphicon glyphicon-refresh"></i> Guardar</button>
        &nbsp;&nbsp;
        <button onclick="redirect('/publicidad')" type="button" class="btn btn-sm btn-danger" ><i class="glyphicon glyphicon-ban-circle"></i> Cancelar</button>             
       
    </div>
    
    </div>
    </div>
<% end %>

<script type="text/javascript">
  $(function($) {
      $('#fecha_inicio,#fecha_fin').datepicker({
        todayHighlight: true,
        language: "es",
        autoclose: true
      });
    
    
  });
</script>