 <!-- BUSCADOR PRINCIPAL -->
 <section class="wrap" id="buscador">      
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <span style="font-size:32px;font-weight:bold">MANTENIMIENTO DE LOCALES</span>
            </div>
        </div>
    </div>
</section>
<!-- FIN BUSCADOR PRINCIPAL -->

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon glyphicon glyphicon-th-large"></i>
            <a href="/local"> Locales </a>
        </li>
        <li class="active">
            Nuevo
        </li>     
    </ul><!-- /.breadcrumb -->
</div>



<% if @local.errors.any? %>
  <div id="error_explanation" class="alert alert-danger"  role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <ul>
      <% @local.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>    
<% end %>

<%= form_for :local, :url => {:controller => "local", :action => "create"}, :method => :post, :html => { :id => "form_local"}  do |f| %>
    <div class="alert-container"></div>
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><i class='glyphicon glyphicon-cog'></i> Mantenimiento de Locales</h3>
    </div>
    <div class="panel-body">
    <div class="row">            
        <div class="col-sm-6 col-sm-offset-3" >
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control input-sm" id="nombre" name="nombre" placeholder="Escribe un nombre..."/>
                </div>
                <div class="form-group col-sm-6">
                  <label for="direccion">Dirección</label>
                  <input type="text" class="form-control input-sm" id="direccion" name="direccion" placeholder="Escribe una dirección..."/>
                </div>     
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="distritos_id">Distrito</label>
                    <%= select_tag(:distritos_id,options_from_collection_for_select(Distrito.all, :id, :nombre), { :class => 'form-control input-sm' })%>
              	  
                </div> 
                <div class="form-group col-sm-6">
                  <label for="direccion_google">Direc. Google  Maps</label>
                  <input type="text" class="form-control input-sm" name="direccion_google" id="direccion_google" placeholder="Escribe las coordenadas..."/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="telefono">Telefono(Opcional)</label>
                  <input type="text" class="form-control input-sm" name="telefono" placeholder="Escribe un telefono..."/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group panel-footer text-center">
        <button type="submit" class="btn btn-sm btn-success" data-ajax="true"><i class="glyphicon glyphicon-refresh"></i> Guardar</button>
        &nbsp;&nbsp;
        <button onclick="redirect('/local')" type="button" class="btn btn-sm btn-danger" ><i class="glyphicon glyphicon-ban-circle"></i> Cancelar</button>             
       
    </div>
    
    </div>
    </div>
<% end %>


<script>
	//map.js

//Set up some of our variables.
var map; //Will contain map object.
var marker = false; ////Has the user plotted their location marker? 
        
//Function called to initialize / create the map.
//This is called when the page has loaded.
function initMap() {

    //The center location of our map.-12.081185, -77.050818


    var centerOfMap = new google.maps.LatLng(-12.081185, -77.050818);

    //Map options.
    var options = {
      center: centerOfMap, //Set center.
      zoom: 13 //The zoom value.
    };

    //Create the map object.
    map = new google.maps.Map(document.getElementById('map'), options);

    //Listen for any clicks on the map.
    google.maps.event.addListener(map, 'click', function(event) {                
        //Get the location that the user clicked.
        var clickedLocation = event.latLng;
        //If the marker hasn't been added.
        if(marker === false){
            //Create the marker.
            marker = new google.maps.Marker({
                position: clickedLocation,
                map: map,
                draggable: true //make it draggable
            });
            //Listen for drag events!
            google.maps.event.addListener(marker, 'dragend', function(event){
                markerLocation();
            });
        } else{
            //Marker has already been added, so just change its location.
            marker.setPosition(clickedLocation);
        }
        //Get the marker's location.
        markerLocation();
    });
}
        
//This function will get the marker's current location and then add the lat/long
//values to our textfields so that we can save the location.
function markerLocation(){
    //Get location.
    var currentLocation = marker.getPosition();
    //Add lat and lng values to a field that we can save.
    //document.getElementById('lat').value = currentLocation.lat(); //latitude
    //document.getElementById('lng').value = currentLocation.lng(); //longitude
    document.getElementById('direccion_google').value = currentLocation.lat()+','+currentLocation.lng();
}
        
        
//Load the map when the page has finished loading.
//google.maps.event.addDomListener(window, 'load', initMap);


</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>

