<!-- TITLE & ENROLL -->
<section id="title-enroll">
  <div class="jumbotron">
    <div class="container">
      <h1>Local 1</h1>
      <p>
          Cancha de grass sintético para <strong>el entrenimiento variado</strong>. Ubicado en una de las mejores zonas de Lima.<br/>
          <i><b>Dirección:</b> Av. Lima 3110</i><br/>
          <i><b>Telefono:</b> 98888744</i>
      </p>
     
    </div><!-- .container-fluid -->

  </div><!-- .jumbotron -->
</section><!-- #title-enroll -->
<!-- END TITLE & ENROLL -->

<!-- BUSCADOR CANCHA -->
<section class="wrap" id="buscador">      
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="..." id="txtSearch"/>
                   <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                        <span>Buscar</span>
                        </button>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN BUSCADOR CANCHA -->

<!-- LOCALES -->
<section class="wrap">
  <ol>
    <li>
      <article>
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="media">
                  <div class="media-left">
                    <img class="media-object img-circle" src="/img/cancha1.jpg" width="168px" height="168px" alt="Foto de perfil" /> 
                  </div><!-- .media-left --> 

                  <div class="media-body">
                    <h4 class="media-heading"><a class="redirect_page" href="#">Cancha 1</a><button type="submit" class="box-btn" ><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"  title="Agregar a favoritos"></span>
                    </button></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <p>
                      <i><b>Dirección:</b> Av. Lima 3110</i><br/>
                      <i><b>Telefono:</b> 98888744</i>
                    </p>
                    <p><b>100</b> Comentarios en total</p>
                  </div><!-- .media-body -->
                  
                   <div class="btn-group pull-right">                
                        <button type="button" class="btn btn-md btn-success" onclick="redirect('/cancha/reservar')"><span class="glyphicon glyphicon-plus"></span> <b>RESERVAR</b> </button>
                    </div>
                </div>
                <br/>
                <div class="cancha_det">
                    <!-- NAV TABS -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li id="tabAdmin1" role="presentation" class="active">
                        <a href="#form-list" aria-controls="form-list" data-toggle="tab" role="tab">Imagenes</a>
                      </li>
                      <li id="tabAdmin2" role="presentation">
                        <a href="#form-add-section" aria-controls="form-add-section" data-toggle="tab" role="tab">Comentarios</a>
                      </li>                     
                    </ul><!-- .nav -->
                    <!-- END NAV TABS -->
                    <!-- TAB CONTENT -->
                    <div class="tab-content">
                      <div role="tabpanel" class="panel panel-primary tab-pane active" id="form-list">
                          <ul class="row first">
                              <li>
                                  <img alt="Rocking the night away"  src="http://demo.michaelsoriano.com/images/photodune-174908-rocking-the-night-away-xs.jpg">
                                  <div class="text">Consectetur adipiscing elit</div>
                              </li>
                              <li>
                                  <img alt="Yellow sign"  src="http://demo.michaelsoriano.com/images/photodune-287182-blah-blah-blah-yellow-road-sign-xs.jpg">
                                  <div class="text">Lorem ipsum dolor sit amet, labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                              </li>
                              <li>
                                  <img alt="Colors"  src="http://demo.michaelsoriano.com/images/photodune-460760-colors-xs.jpg">
                                   <div class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
                              </li>
                              <li>
                                  <img alt="Retro party"  src="http://demo.michaelsoriano.com/images/photodune-461673-retro-party-xs.jpg">
                                  <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
                              </li>
                              <li>
                                  <img alt="Technology soup"  src="http://demo.michaelsoriano.com/images/photodune-514834-touchscreen-technology-xs.jpg">
                                  <div class="text">Do eiusmod tempor</div>
                              </li>
                              <li>
                                  <img alt="Legal docs"  src="http://demo.michaelsoriano.com/images/photodune-916206-legal-xs.jpg" data-bsp-large-src="http://demo.michaelsoriano.com/images/photodune-916206-legal-large.jpg">
                                  <div class="text">Eiusmod tempor enim ad minim veniam</div>
                              </li>
                              <li>
                                  <img alt="Nature shot"  src="http://demo.michaelsoriano.com/images/photodune-1062948-nature-xs.jpg">
                                  <div class="text">Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                              </li>
                              <li>
                                  <img alt="Kid with camera" src="http://demo.michaelsoriano.com/images/photodune-1471528-insant-camera-kid-xs.jpg" data-bsp-large-src="http://demo.michaelsoriano.com/images/photodune-1471528-insant-camera-kid-large.jpg">
                                  <div class="text">Lorem ipsum dolor sit amet, labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                              </li>
                              <li>
                                  <img alt="Relax and Chill" src="http://demo.michaelsoriano.com/images/photodune-2255072-relaxed-man-xs.jpg">
                                  <div class="text">Eiusmod tempor enim ad minim veniam</div>
                              </li>
                              <li>
                                  <img alt="Cool colors" src="http://demo.michaelsoriano.com/images/photodune-2360379-colors-xs.jpg">
                                  <div class="text">Consectetur adipiscing elit</div>
                              </li>
                              <li>
                                  <img alt="Jump over"  src="http://demo.michaelsoriano.com/images/photodune-2360571-jump-xs.jpg">
                                  <div class="text">Lorem ipsum dolor sit amet, labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                              </li>
                              <li>
                                  <img alt="Culture business" src="http://demo.michaelsoriano.com/images/photodune-2361384-culture-for-business-xs.jpg">
                                  <div class="text">Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                              </li>
    
                                <li>
                                    <img alt="Spaghetti bitch" src="http://demo.michaelsoriano.com/images/photodune-2441670-spaghetti-with-tuna-fish-and-parsley-s.jpg">
                                    <div class="text">Lorem ipsum dolor sit amet, labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                                </li>
                                <li>
                                    <img alt="Budget this"  src="http://demo.michaelsoriano.com/images/photodune-2943363-budget-xs.jpg">
                                    <div class="text">Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                                </li>
                                <li>
                                    <img alt="Street art"  src="http://demo.michaelsoriano.com/images/photodune-3444921-street-art-xs.jpg">
                                    <div class="text">Consectetur adipiscing elit, re magna aliqua. Ut enim ad minim veniam</div>
                                </li>
    
                          </ul>

                      </div><!-- #form-list -->  

                      <div role="tabpanel" class="panel panel-default tab-pane" id="form-add-section">
                        <div class="panel-body">
                            <!-- 1.COMMENT -->
                            <div class="media">
                              <div class="media-left">
                                <img class="media-object img-circle" src="/img/user.png" width="64px" height="64px" alt="Foto de perfil" /> 
                              </div><!-- .media-left --> 
            
                              <div class="media-body">
                                <h4 class="media-heading">Paquito <small class="text-muted">hace dos horas</small></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            
                                <p><button class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">Responder</button></p>
                                <!-- FORM ANSWER -->
                                <form class="collapse" id="collapseForm">
                                  <textarea class="form-control" rows="3" placeholder="Escribe aquí tu respuesta"></textarea>
                                  <p id="btn-form-answer">
                                    <button type="submit" class="btn btn-danger btn-xs">Enviar</button>
                                  </p>
                                </form>
                                <!-- END FORM ANSWER -->
            
                                <!-- ANSWER -->
                                <div class="media">
                                  <div class="media-left">
                                    <img class="media-object img-circle" src="/img/user.png" width="64px" height="64px" alt="Foto de perfil" /> 
                                  </div><!-- .media-left --> 
                                  <div class="media-body">
                                    <h4 class="media-heading">Paquito <small class="text-muted">hace dos horas</small></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                  </div><!-- .media-body --> 
                                </div><!-- .media --> 
                                <!-- END ANSWER -->
            
                                <!-- ANSWER -->
                                <div class="media">
                                  <div class="media-left">
                                    <img class="media-object img-circle" src="/img/anonymous.png" width="64px" height="64px" alt="Foto de perfil" /> 
                                  </div><!-- .media-left --> 
                                  <div class="media-body">
                                    <h4 class="media-heading">Luchito Perez <small class="text-muted">hace dos horas</small></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                  </div><!-- .media-body --> 
                                </div><!-- .media --> 
                                <!-- END ANSWER -->
            
                              </div><!-- .media-body --> 
                            </div><!-- .media --> 
                            <!-- END 1.COMMENT -->
                            
                        </div><!-- .panel-body -->
                      </div><!-- #form-add-section -->      
                      
                    </div>
                    <!-- END TAB CONTENT -->

                  </div><!-- .cancha_det -->
                
              </div><!-- .panel-body --> 
            </div><!-- .panel --> 
          </div><!-- .col --> 
        </div><!-- .row -->
      </div><!-- .container -->
    </article>
    </li>
    
  </ol>
</section>
<!-- FIN LOCALES -->

<script type="text/javascript">
  $(function($) {
    $(document).on('click', '.box-btn', function(event) {
      $(this).find('.glyphicon').toggleClass('red').toggleClass('glyphicon-heart-empty glyphicon-heart');
    });
    
    $('ul.first').bsPhotoGallery({
        "classes" : "col-lg-2 col-md-4 col-sm-3 col-xs-4 col-xxs-12",
        "hasModal" : true,
        // "fullHeight" : false
    });
  });
</script>