 <!-- BUSCADOR PRINCIPAL -->
 <section class="wrap" id="buscador">      
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="iFeatures">
                  <div class="ticker">
                    <% @publicidades.each do |publicidad| %>
                    <li><p><%= publicidad.contenido %></p></li>
                    <% end %>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>

<!-- FIN BUSCADOR PRINCIPAL -->

<section id="title-listado">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><i class='glyphicon glyphicon-cog'></i> Listado de Servicios Adicionales</h3>
        </div>
    </div>
</section>

<form>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <%= link_to t('.newg', :default => 'Nuevo'),
                new_servicio_path,
                :class => 'btn btn-md btn-primary' %>
                <hr/>
                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center">Codigo</th>
                            <th class="text-center">Caracteristica</th>
                            <th class="text-center">Tarifa</th>
                            <th class="text-center">Local</th>
                            <th width="150px" class="text-center">Opcional</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @servicios.each do |servicio| %>
                        <tr>
                            <td><%= servicio.id %></td>
                            <td><%= servicio.nombre %></td>
                            <td class="text-right"><%= servicio.importe_tarifa %></td>
                            <td><%= servicio.local.nombre %></td>
                            <td class="text-center">
                                <%= link_to '',
                                  edit_servicio_path(servicio),
                                  :method => :get,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Desea editar?')) },
                                  :class => 'fa fa-pencil fa-lg', 
                                  :title=> "Editar" %>
                                 &nbsp;|&nbsp;
                                <%= link_to '',
                                  servicio_path(servicio),
                                  :method => :delete,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Esta seguro de eliminar?')) },
                                  :class => 'fa fa-trash-o fa-lg', 
                                  :title=> "Eliminar" %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <%= will_paginate @servicios, renderer: BootstrapPagination::Rails, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
            </div>
         </div>
     </div>
</form> 