 <!-- BUSCADOR PRINCIPAL -->
 <section class="wrap" id="buscador">      
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <span style="font-size:32px;font-weight:bold">MANTENIMIENTO DE SERVICIOS ADICIONALES</span>
            </div>
        </div>
    </div>
</section>
<!-- FIN BUSCADOR PRINCIPAL -->

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon glyphicon glyphicon-th-large"></i>
            <a href="/servicio"> Servicios Adic. </a>
        </li>
        <li class="active">
            Nuevo
        </li>     
    </ul><!-- /.breadcrumb -->
</div>

<% if @servicio.errors.any? %>
  <div id="error_explanation" class="alert alert-danger"  role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <ul>
      <% @servicio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>    
<% end %>

<%= form_for :servicio, :url => {:controller => "servicio", :action => "create"}, :method => :post, :html => { :id => "form_servicio"}  do |f| %>
    <div class="alert-container"></div>
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><i class='glyphicon glyphicon-cog'></i></h3>
    </div>
    <div class="panel-body">
    <div class="row">            
        <div class="col-sm-6 col-sm-offset-3" >
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="tipo_servicio">Tipo Servicio</label>
                  <select name="tipo_servicio" class="form-control input-sm">
                    <option value="AL">Alquiler</option>
                    <option value="FO">Fotografia</option>
                    
                  </select>
                </div>
                <div class="form-group col-sm-6">
                  <label for="nombre">Descripcion</label>
                  <input type="text" class="form-control input-sm" name="nombre" placeholder="Escribe una descripción..."/>
                </div>     
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="importe_tarifa">Tarifa</label>
                  <input type="text" class="form-control input-sm" name="importe_tarifa" placeholder="Escribe una tarifa..."/>
                </div>     
                <div class="form-group col-sm-6">
                    <label for="locales_id">Local</label>
                    <%= select_tag(:locales_id,options_from_collection_for_select(Local.all, :id, :nombre), { :class => 'form-control input-sm' })%>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="form-group panel-footer text-center">
        <button type="submit" class="btn btn-sm btn-success" data-ajax="true"><i class="glyphicon glyphicon-refresh"></i> Guardar</button>
        &nbsp;&nbsp;
        <button onclick="redirect('/servicio')" type="button" class="btn btn-sm btn-danger" ><i class="glyphicon glyphicon-ban-circle"></i> Cancelar</button>             
       
    </div>
    
    </div>
    </div>
<% end %>